@model FooterModel

@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Domain.Topics
@using Nop.Services.Configuration
@inject IWebHelper _webhelper
@inject IWorkContext workContext
@inject ISettingService settingService 
<div class="footer">
    <div class="footer-upper">
        <div class="bs_footer_subscribe_box">
            <div class="bs_footer_logo">
                @await Component.InvokeAsync(typeof(LogoViewComponent))
            </div>
            <div class="bs_newsletter">
                <div class="bs_newsletter_title">
                    <h3>@T("Newsletter.Title")</h3>
                </div>
                @await Component.InvokeAsync(typeof(NewsletterBoxViewComponent))
            </div>
        </div>
        <div class="bs_footer_link">
            <div class="footer-block information">
                <div class="title">
                    <strong>@T("Footer.Information")</strong>
                </div>
                <ul class="list">
                    @if (Model.SitemapEnabled && Model.DisplaySitemapFooterItem)
                    {
                        <li>
                            <span class="linearicons-flip-vertical"></span>
                            <a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a>
                        </li>
                    }
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                    {
                        <li>
                            <span class="linearicons-flip-vertical"></span>
                            <a href="@(Url.RouteUrl<Topic>(new { SeName = topic.SeName }))">@topic.Name</a>
                        </li>
                    }
                    @if (Model.DisplayContactUsFooterItem)
                    {
                        <li>
                            <span class="linearicons-flip-vertical"></span>
                            <a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="footer-block customer-service">
                <div class="title">
                    <strong>@T("Footer.CustomerService")</strong>
                </div>
                <ul class="list">
                    @if (Model.DisplayProductSearchFooterItem)
                    {
                        <li>
                            <span class="linearicons-flip-vertical"></span>
                            <a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a>
                        </li>
                    }
                    @if (Model.NewsEnabled && Model.DisplayNewsFooterItem)
                    {
                        <li>
                            <span class="linearicons-flip-vertical"></span>
                            <a href="@Url.RouteUrl("NewsArchive")">@T("News")</a>
                        </li>
                    }
                    @if (Model.BlogEnabled && Model.DisplayBlogFooterItem)
                    {
                        <li>
                            <span class="linearicons-flip-vertical"></span>
                            <a href="@Url.RouteUrl("Blog")">@T("Blog")</a>
                        </li>
                    }
                    @if (Model.ForumEnabled && Model.DisplayForumsFooterItem)
                    {
                        <li>
                            <span class="linearicons-flip-vertical"></span>
                            <a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a>
                        </li>
                    }
                    @if (Model.RecentlyViewedProductsEnabled && Model.DisplayRecentlyViewedProductsFooterItem)
                    {
                        <li>
                            <span class="linearicons-flip-vertical"></span>
                            <a href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a>
                        </li>
                    }
                    @if (Model.CompareProductsEnabled && Model.DisplayCompareProductsFooterItem)
                    {
                        <li>
                            <span class="linearicons-flip-vertical"></span>
                            <a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a>
                        </li>
                    }
                    @if (Model.NewProductsEnabled && Model.DisplayNewProductsFooterItem)
                    {
                        <li>
                            <span class="linearicons-flip-vertical"></span>
                            <a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a>
                        </li>
                    }
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                    {
                        <li>
                            <span class="linearicons-flip-vertical"></span>
                            <a href="@Url.RouteTopicUrl(topic.SeName)">@topic.Name</a>
                        </li>
                    }
                    @if (Model.AllowCustomersToCheckGiftCardBalance)
                    {
                        <li>
                            <span class="linearicons-flip-vertical"></span>
                            <a href="@Url.RouteUrl("CheckGiftCardBalance")">@T("CheckGiftCardBalance")</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="footer-block my-account">
                <div class="title">
                    <strong>@T("Footer.MyAccount")</strong>
                </div>
                <ul class="list">
                    @if (Model.DisplayCustomerInfoFooterItem)
                    {
                        <li>
                            <span class="linearicons-flip-vertical"></span>
                            <a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a>
                        </li>
                    }
                    @if (Model.DisplayCustomerOrdersFooterItem)
                    {
                        <li>
                            <span class="linearicons-flip-vertical"></span>
                            <a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a>
                        </li>
                    }
                    @if (Model.DisplayCustomerAddressesFooterItem)
                    {
                        <li>
                            <span class="linearicons-flip-vertical"></span>
                            <a href="@Url.RouteUrl("CustomerAddresses")">@T("Account.CustomerAddresses")</a>
                        </li>
                    }
                    @if (Model.ShoppingCartEnabled && Model.DisplayShoppingCartFooterItem)
                    {
                        <li>
                            <span class="linearicons-flip-vertical"></span>
                            <a href="@Url.RouteUrl("ShoppingCart")">@T("ShoppingCart")</a>
                        </li>
                    }
                    @if (Model.WishlistEnabled && Model.DisplayWishlistFooterItem)
                    {
                        <li>
                            <span class="linearicons-flip-vertical"></span>
                            <a href="@Url.RouteUrl("Wishlist")">@T("Wishlist")</a>
                        </li>
                    }
                    @if (Model.AllowCustomersToApplyForVendorAccount && Model.DisplayApplyVendorAccountFooterItem)
                    {
                        <li>
                            <span class="linearicons-flip-vertical"></span>
                            <a href="@Url.RouteUrl("ApplyVendorAccount")">@T("Vendors.ApplyAccount")</a>
                        </li>
                    }
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn3).ToList())
                    {
                        <li>
                            <span class="linearicons-flip-vertical"></span>
                            <a href="@Url.RouteTopicUrl(topic.SeName)">@topic.Name</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="footer-block follow-us">
                <div class="social">
                    <div class="title">
                        <strong>@T("Footer.FollowUs")</strong>
                    </div>
                    @await Component.InvokeAsync(typeof(SocialButtonsViewComponent))
                </div>
            </div>
        </div>
    </div>
    <div class="footer-lower">
        <div>
            @if (!Model.HidePoweredByNopCommerce)
            {
                <div class="footer-powered-by">
                    @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                        Please find more info at https://www.nopcommerce.com/nopcommerce-copyright-removal-key*@
                    Powered by <a href="@(NopLinksDefaults.OfficialSite.Main)">nopCommerce</a>
                </div>
            }
            @await Component.InvokeAsync(typeof(StoreThemeSelectorViewComponent))
        </div>

       
        <div class="footer-info">
            <span class="footer-disclaimer">@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</span>
            @if (Model.DisplayTaxShippingInfoFooter)
            {
                var inclTax = await workContext.GetTaxDisplayTypeAsync() == TaxDisplayType.IncludingTax;
                <span class="footer-tax-shipping">
                    @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteTopicUrl("shippinginfo")))
                </span>
            }
        </div>

    </div>
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.Footer })
</div>
<script asp-location="Footer">
    $(document).ready(function () {
        $('.footer-block .title').on('click', function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1025) {
                $(this).siblings('.list').slideToggle('slow');
            }
        });
    });
</script>
<script asp-location="Footer">
    $(document).ready(function () {
        $('.block .title').on('click', function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1001) {
                $(this).siblings('.listbox').slideToggle('slow');
            }
        });
    });
</script>